@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "Details", "ProfileInfoes", routeValues: new { UserName = User.Identity.GetUserName() }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#Register" data-toggle="modal" data-target="#Register">Rejestracja</a></li>
            <li><a href="#LogIn" onclick="openLogIn()">Logowanie</a></li>
            <!--
        <li>Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
        <li>Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            -->
        </ul>
}
