@model FilmoweJanusze.Models.People
@using FilmoweJanusze.Helpers

<div class="col-xs-12 col-sm-6 col-md-3 nopadding">
    <div class="tilediv container-fluid">
        <a href="@Url.Action("Details", "People", new { id = Model.PeopleID })">
            @Html.Image(Model.PhotoURL, new { @class = "poster img-responsive" })
            <span class="title">
                @Html.DisplayFor(modelItem => Model.FullName).ToString()
            </span>
        </a>
    </div>
</div>
