
#GaleryCarousel {
    background-color: #222;
}
/* Hide the images by default */
.mySlides {
    display: none;
    background-color: #222;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

.center {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.carousel-indicators {
    position: inherit;
    bottom: inherit;
    left: inherit;
    z-index: inherit;
    width: inherit;
    margin-left: inherit;
    padding-left: inherit;
    list-style: none;
    text-align: center;
}

    .carousel-indicators .active {
        width: 16.66%;
        height: inherit;
        margin: inherit;
        background-color: inherit;
    }