body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    min-width: 270px;
}

.checkbox label {
    padding-left: 5px;
}

/* OGÓLNE*/
.well-jm {
    min-width: 270px;
    padding: 9px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 20px;
}

.panel-group {
    min-width: 270px;
}

.panel-heading:hover {
    background-color: #eee;
}

.poster {
    object-fit: cover;
    width: 360px;
    height: 435px;
}

.postermin {
    object-fit: cover;
    width: 120px;
    height: 160px;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.nodecoration {
    text-decoration: none;
    display: block;
    color: inherit;
}

    .nodecoration:link {
        text-decoration: none;
    }


.searchbutton {
    display: block;
}

.dropdownbutton {
    position: absolute;
    right: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    left: initial;
}

.margintop10 {
    margin-top: 10px;
}

.margintop20 {
    margin-top: 20px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.padding10 {
    padding: 10px;
}

.width5perc {
    width: 5%;
}

.minwidth270 {
    min-width: 270px;
}

.zindex100 {
    z-index: 100;
}

.disabled {
    pointer-events: inherit;
}

.realative {
    position: relative;
}

.breakwords {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* WALIDACJA */
.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.valid {
    border: 1px solid #33cc33;
    background-color: initial;
}

/* KAFELKI */
.tilediv {
    width: 100%;
    min-width: 235px;
    max-width: 362px;
    min-height: 210px;
    padding: 0;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

    .tilediv .title {
        position: absolute;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding: 5px 10px;
        background-color: black;
        opacity: 0.6;
    }

    .tilediv a {
        font-size: 16px;
        font-weight: 700;
        color: sandybrown;
        text-decoration: none;
        opacity: 1;
    }

    .tilediv:hover {
        opacity: 0.8;
    }
        .tilediv:hover .title .star-box {
            opacity: 1;
        }

.star-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
}


/* OBSADA */

.cast {
    max-height: 250px;
    border-top: 1px solid #ddd;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
}

    .cast:hover {
        background-color: #fdfdfd;
    }

    .cast:first-child {
        border-top: 0;

    }

    .cast div {
        height: inherit;
    }

.editbutton {
    position: absolute;
    bottom: 0;
}


/* Filtracja i sortowanie */
.sortfilter select {
    margin: 5px;
}

#SortParam {
    margin-right: 0;
}

#SortOrder {
    margin-left: 0;
}


/* Wygląd DETAILS */

.panel-link {
    text-decoration: none;
    display: block;
}

    .panel-link:link {
        text-decoration: none;
    }

.movieinfo {
    margin-bottom: 20px;
    font-size: 15px;
    min-width: 270px;
}
    .movieinfo dt{
        width: 130px;
        margin-bottom: 5px;
    }

    .movieinfo dd {
        margin-left: 140px;
    }

    .movieinfo img {
        text-align: center;
    }

.rating {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    min-width: 270px;
    max-width: 300px;
}

    .rating textarea {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 220px;
    }

.rating div
{
    margin-bottom: 5px;
}

.rating #Rate 
{
    color: black;
}

.rating #Comment
{
    display: inline;
}

.rating #NotLoggedIn
{
    margin: 20px;
}

.star-rating {
    font-size: 30px;
    color: yellow;
    cursor: pointer;
}

.gallerythumb {
        object-fit: cover;
    width: 230px;
    height: 276px;
}

.describe {
    margin-right: 15px;
}


/* LOGIN POPUP*/
.form-popup {
    display: none;
    position: absolute;
    top: 1px;
    right: 0;
    left: auto;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    min-width: 320px;
    max-width: 360px;
    padding: 10px;
    background-color: white;
}

.form-container label
{
    padding-left: 0;
}

/* STARBAR RATING */

/* Three column layout */
.side {
    float: left;
    width: 5%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 90%;
    margin-top: 10px;
}

/* Place text to the right */
.rightalign {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.bar-container:hover {
    opacity: 1;
}

/* Individual bars */
.bar-6 {
    width: 0;
    height: 18px;
    background-color: #33cc33;
}

.bar-5 {
    width: 0;
    height: 18px;
    background-color: #2196F3;
}

.bar-4 {
    width: 0;
    height: 18px;
    background-color: #00bcd4;
}

.bar-3 {
    width: 0;
    height: 18px;
    background-color: #ffd223;
}

.bar-2 {
    width: 0;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 0;
    height: 18px;
    background-color: #f44336;
}



/* NOWE */

@media only screen and (max-width: 600px) {
    .gallerythumb {
        height: 207px;
    }
}

@media only screen and (max-width: 450px) {
    .gallerythumb {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .describe {
        margin-right: 0;
    }
}