@model FilmoweJanusze.ViewModels.IndexView

@{
    ViewBag.Title = "Strona główna";
    int tilesPerRow = 4;
}

<!--LATEST RELEASED-->
<section>
    <div class="well-jm">
        <h4>Najnowsze premiery</h4>
    </div>
     @Helper.TileCarousel(Html, Model.LatestReleased, "LatestReleasedCarousel", "Brak najnowszych premier", tilesPerRow)
</section>

<!--NOT YET RELEASED-->

<section>
    <div class="well-jm">
        <h4>Przyszłe premiery</h4>
    </div>
    @Helper.TileCarousel(Html, Model.NotYetReleased, "NotYetReleasedCarousel", "Brak przyszłych premier", tilesPerRow)
</section>

    <!--BIRTHDAYS-->
<section>
    <div class="well-jm">
        <h4>Urodziny w tym miesiącu obchodzą</h4>
    </div>
    @Helper.TileCarousel(Html, Model.PeoplesBirthdays, "PeoplesBirthdaysCarousel", "Nikt nie ma urodzin w tym miesiącu :(", tilesPerRow)
</section>
