@model FilmoweJanusze.ViewModels.Found
@{
    ViewBag.Title = "Wyniki wyszukiwania";
    int tilesPerRow = 4;
}

<h2>@ViewBag.Title</h2>

<br />
<!--FILMY-->
@if (Model.Movies.Count() > 0)
{
    <h4>Znalezione filmy: @Model.Movies.Count()</h4>

    <div id="MovieCarousel" class="container-fluid nopadding carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            <div class="item active">
                @for (var i = 0; i < Model.Movies.Count(); i++)
                {
                    var item = Model.Movies.ElementAt(i);
                    if (i % tilesPerRow == 0 && i != 0)
                    {
                    @:</div><div class="item">
                    }
                    Html.RenderPartial("_Tile", item);
                }
            </div>
        </div>

        @if (Model.Movies.Count() > tilesPerRow)
        {
            <!-- Left and right controls -->
            <a class="left carousel-control width5perc" href="#MovieCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control width5perc" href="#MovieCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        }
    </div>
}
else
{
    <h4>Nie znaleziono żadnych filmów</h4>
}
<br />
<!--AKTORZY-->
@if (Model.Peoples.Count() > 0)
{
    <h4>Znalezioni aktorzy: @Model.Peoples.Count()</h4>
    <div id="PeopleCarousel" class="container-fluid nopadding carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            <div class="item active">
                @for (var i = 0; i < Model.Peoples.Count(); i++)
                {
                    var item = Model.Peoples.ElementAt(i);
                    if (i % tilesPerRow == 0 && i != 0)
                    {
                    @:</div><div class="item">
                    }
                    Html.RenderPartial("_Tile", item);
                }
            </div>
        </div>

        @if (Model.Peoples.Count() > tilesPerRow)
        {
            <!-- Left and right controls -->
            <a class="left carousel-control width5perc" href="#PeopleCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control width5perc" href="#PeopleCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        }
    </div>
}
else
{
    <h4>Nie znaleziono żadnych aktorów</h4>
}
