@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 Page Not Found";
}

<h1 class="text-danger">Nie odnaleziono strony</h1>
<h2 class="text-danger">Przepraszamy, ale strona o podanym adresie nie istnieje.</h2>


